<a href="https://colab.research.google.com/github/pranaysawant17/Ineuron-Assignment/blob/main/ON_Assignment_18_Python_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

In [1]:
def filter_list(a):
  return [i for i in a if type(i)!= str]

In [2]:
print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15])) 
print(filter_list([1, 2, "aasf", "1", "123", 123]))

[1, 2]
[1, 0, 15]
[1, 2, 123]

The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

In [3]:
def reverse(a):
  return a[::-1].swapcase()

In [5]:
print(reverse("Hello World") )
print(reverse("ReVeRsE") )
print(reverse("Radar"))

DLROw OLLEh
eSrEvEr
RADAr

Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [6]:
lst = [1, 2, 3, 4, 5, 6]

first,*middle,last= lst

print(first)
print(*middle)
print(last)

1
2 3 4 5
6

Question 4
Write a function that calculates the factorial of a number recursively.

In [7]:
def factorial(n):
  
  if n== 0:
    return 1
  elif n==1:
    return 1
  else:
    return n * factorial (n-1)

In [8]:
print(factorial(5))

print(factorial(3))

print(factorial(1))

print(factorial(0))

120
6
1
1

Write a function that moves all elements of one type to the end of the list.

In [15]:
def move_to_end(a,b): # Ref Geeks for geeks
  return sorted(a,key=b.__eq__)

In [17]:
print(move_to_end([1, 3, 2, 4, 4, 1], 1) )
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a", "a", "a", "b"], "a"))

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['b', 'a', 'a', 'a']