<a href="https://colab.research.google.com/github/pranaysawant17/Ineuron-Assignment/blob/main/ON_Assignment_10_Python_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python program to find sum of elements in list?

In [33]:
def ele_sum(a):
  sum=0
  for i in a:
    sum+=i
  return "Sum of elements:" ,sum

ele_sum([1,8,9,12,13])

('Sum of elements:', 43)

2.	Write a Python program to  Multiply all numbers in the list?

In [34]:
def mul_list(a,b):
  # Here a is for list and b is for multiplication number
  return[i*b for i in a]


mul_list([1,8,9,12,13],2)

[2, 16, 18, 24, 26]

3.	Write a Python program to find smallest number in a list?

In [35]:
a = [1,8,5,9,7]

print("Smallest number: ", min(a))

Smallest number:  1

4.	Write a Python program to find largest number in a list?

In [36]:
a = [1,8,5,9,7]

print("Largest number: ", max(a))

Largest number:  9

5.	Write a Python program to find second largest number in a list?

In [37]:
a = [1,8,5,9,7]

sort_lst=sorted(list(set(a)))

print(" Second Largest number: ", sort_lst[-2])

 Second Largest number:  8

6.	Write a Python program to find N largest elements from a list?

In [38]:
a = [1,8,5,9,7]
n_num = int(input("Enter the Nth value you want: "))

sort_lst=sorted(list(set(a)))
if n_num < len(a):
  print(" {0} th Largest number:{1} ". format(n_num,sort_lst[-n_num]))
else:
   print(" Number out of index")

Enter the Nth value you want: 3
 3 th Largest number:7

7.	Write a Python program to print even numbers in a list?

In [39]:
def even_num(a):
  return [x for x in a if x%2 ==0]

a = [1,8,5,9,7]
even_num(a)

[8]

8.	Write a Python program to print odd numbers in a List?

In [40]:
def neg_num(a):
  return [x for x in a if x%2 !=0]

a = [1,8,5,9,7]
neg_num(a)

[1, 5, 9, 7]

9.	Write a Python program to Remove empty List from List?

In [41]:
def remove_empty(a):
  lst=[]
  for i in a:
      if len(i) != 0:
          lst.append(i)   
  return lst
remove_empty([[1,2],[],[],[4,5,6]])

[[1, 2], [4, 5, 6]]

10.	Write a Python program to Cloning or Copying a list?

In [42]:
def clone_list(a):
  lst_clone = list(a)
  return lst_clone

l1= ['a', 1,8 ,9,'b']
l2=clone_list(l1)
print(l2)

['a', 1, 8, 9, 'b']

11.	Write a Python program to Count occurrences of an element in a list?

In [43]:
def count_occ(a):
  counter={}
  for i in a:
    if i in counter:
      counter[i]+=1
    else:
      counter[i]=1
  return counter

In [44]:
print(count_occ("This is not a story"))
print(count_occ("Dream Big Work harder"))

{'T': 1, 'h': 1, 'i': 2, 's': 3, ' ': 4, 'n': 1, 'o': 2, 't': 2, 'a': 1, 'r': 1, 'y': 1}
{'D': 1, 'r': 4, 'e': 2, 'a': 2, 'm': 1, ' ': 3, 'B': 1, 'i': 1, 'g': 1, 'W': 1, 'o': 1, 'k': 1, 'h': 1, 'd': 1}