<a href="https://colab.research.google.com/github/pranaysawant17/Ineuron-Assignment/blob/main/ON_Assignment_21_Python_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [5]:
def next_in_line(lst,num):
  if len(lst)>0:
    lst.pop(0)
    lst.append(num)
    return lst
  else:
    return "No list has been selected"

In [6]:
print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42 ], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [8]:
def get_budgets(a):
  sum = 0
  for i in a:
    sum+= i["budget"]
  return sum

In [10]:
print(get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]))

print(get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]))

65700
62600

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [11]:
def alphabet_soup(a):
  return ''.join(sorted([i for i in a]))

In [13]:
print(alphabet_soup("hello")) 
print(alphabet_soup("edabit"))
print(alphabet_soup("hacker"))
print(alphabet_soup("geek"))
print(alphabet_soup("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

In [20]:
def compound_interest(p,t,r,n):
  return round(p*((1+r/n)**(n*t)),2)

In [21]:
print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

105.0
15399.26
2007316.26

Question5
Write a function that takes a list of elements and returns only the integers.

In [22]:
def return_only_integer(a):
  return [i for i in a if type(i)== int]

In [23]:
print(return_only_integer([9, 2, "space", "car", "lion", 16]))

print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))

print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))

print(return_only_integer(["String",  True,  3.3,  1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[1]