<a href="https://colab.research.google.com/github/pranaysawant17/Ineuron-Assignment/blob/main/ON_assignment2_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python program to convert kilometers to miles?

In [15]:
km = float(input("Enter Kilometers: "))

miles = km * 0.621371

print (km, "KM is", miles , "Miles")

Enter Kilometers: 10
10.0 KM is 6.21371 Miles

2.	Write a Python program to convert Celsius to Fahrenheit?

In [16]:
cel = float (input ( " Enter temperature in degree celcius: "))

far = (9/5)*cel + 32

print (cel, " Deg. Celcius is",far, "Fahrenheit" )

 Enter temperature in degree celcius: 32
32.0  Deg. Celcius is 89.6 Fahrenheit

3.	Write a Python program to display calendar?

In [17]:
import calendar

print (calendar.calendar(2022,2,1,6,4))

                                               2022

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28                        28 29 30 31               25 26 27 28 29 30
31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31      29 30 31
30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6                1  2  3  4
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
                          31

4.	Write a Python program to solve quadratic equation?

In [18]:
print("Quadratic equation is of form ax^2 + bx + c = 0")
a = float(input("Enter value of constant a at x^2: "))
b = float(input("Enter value of constant b at x: "))
c = float(input("Enter value of constant c: "))

x1 , x2 = (-b + (b**2 - 4*a*c)**0.5)/(2*a),(-b - (b**2 - 4*a*c)**0.5)/(2*a)

print("Your Given equation is " ,a ,"*x^2 +",b,"*x +" ,c,"=0")
print ("Solution value for x is :", x1,"," ,x2)

Quadratic equation is of form ax^2 + bx + c = 0
Enter value of constant a at x^2: 1
Enter value of constant b at x: -15
Enter value of constant c: -15
Your Given equation is  1.0 *x^2 + -15.0 *x + -15.0 =0
Solution value for x is : 15.940971508067067 , -0.9409715080670669

5.	Write a Python program to swap two variables without temp variable?

In [19]:
a = input("Enter first value or character :")
b = input("Enter second value or character :")

a,b = b,a

print ("After swap value of a =", a)
print ("After swap value of b =", b)

Enter first value or character :10
Enter second value or character :20
After swap value of a = 20
After swap value of b = 10