<a href="https://colab.research.google.com/github/pranaysawant17/Ineuron-Assignment/blob/main/ON_Assignment_23_Python_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [11]:
def is_symmetrical (a):

    return str(a) == str(a)[::-1]

In [12]:
print(is_symmetrical(7227))

print(is_symmetrical(12567))

print(is_symmetrical(44444444))

print(is_symmetrical(9939)) 

print(is_symmetrical(1112111))

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [15]:
def multiply_nums(a):
  mul=1
  for i in a.split(','):
    mul*=int(i)
  return mul

In [17]:
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

Question 3
Create a function that squares every digit of a number.

In [21]:
def square_digits(a):
  sum=" "
  for i in str(a):
    sum+= str(int(i)**2)
  return int(sum)

In [23]:
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [32]:
def setify(a):
  return sorted(list({i for i in a}))

In [34]:
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.

In [35]:
def mean(a):
  sum= 0
  count = 0
  for i in str(a):
    sum+= int(i)
    count+=1
  return round(sum/count)

In [39]:
print(mean(42))

print(mean(12345))

print(mean(666))

3
3
6